body {
	margin: 0;
	font-family: Tahoma;
}
#baner,
#stopka {
	background: rgb(107, 142, 35);
	color: white;
	text-align: center;
	padding: 3px;
	clear: both;
}
#dane {
	background: rgb(255, 218, 185);
	padding: 3px;
}
#lewy,
#prawy {
	background: rgb(255, 239, 213);
	width: 27%;
	height: 550px;
	float: left;
}
#srodkowy {
	background: rgb(255, 239, 213);
	width: 46%;
	height: 550px;
	float: left;
}
h3 {
	text-align: center;
}
h3:first-letter {
	color: green;
}
img {
	height: 90px;
	padding: 7px;
}
img:hover {
	background: rgb(255, 218, 185);
}