body {
	margin: 0;
}
#baner {
	background: rgb(30, 137, 157);
	color: white;
	font-size: 120%;
	text-align: right;
	height: 100px;
}
#lewy, #prawy {
	background: rgb(58, 159, 178);
	width: 20%;
	height: 550px;
	float: left;
}
#srodkowy {
	background: rgb(143, 212, 225);
	width: 60%;
	height: 550px;
	float: left;
}
h3 {
	color: white;
}
img {
	float: left;
}
h1 {
	margin: 0;
}